<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>St Peters Portal Server</title>
		
		<meta name="description" content="St Peters Portal Server">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico" />
		<link rel="apple-touch-icon" href="assets/images/icon.png" />
		<link rel="stylesheet" type="text/css" href="assets/stylesheets/style.css">
	</head>
	<body>
		<img class="server-logo" src="assets/images/marthoma-logo.png" alt="St Peters Marthoma Church"/><br>
		<h2>
			Welcome to the St Peters Portal Server
		</h2>
	</body>
</html>